.memories {
    @include container-wrap();
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $c-memories-bg-b;
    padding-top: calculateRem(68px);
}

.memories__header {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: calculateRem(46px);
    }
}

.memories__header-title {
    @include font-size(42px);
    color: $c-brand-primary;
    font-weight: $f-weight-bold;
    margin-bottom: calculateRem(28px);
    line-height: 1;
}

.memories__list {
    display: grid;
    grid-template-areas:
        "m1 m3"
        "m2 m3"
        "m4 m4"
        "m5 m6";
    grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
    grid-gap: calculateRem(7px);
    max-width: 100%;
    height: 100%;

    .memories__item:nth-child(1) {
        grid-area: m1;
    }

    .memories__item:nth-child(2) {
        grid-area: m2;
    }

    .memories__item:nth-child(3) {
        grid-area: m3;
    }

    .memories__item:nth-child(4) {
        grid-area: m4;
    }

    .memories__item:nth-child(5) {
        grid-area: m5;
    }

    .memories__item:nth-child(6) {
        grid-area: m6;
    }
}

.memories__item {
    img {
        width: 100%;
        height: 100%;
        border-radius: calculateRem(12px);
        object-fit: cover;
    }
}

.memories__item:nth-child(1),
.memories__item:nth-child(2) {
    img {
        max-width: calculateRem(172px);
        min-height: calculateRem(135px);
    }
}

.memories__item:nth-child(3) {
    img {
        max-width: calculateRem(172px);
        min-height: calculateRem(284px);
    }
}

.memories__item:nth-child(4) {
    img {
        max-width: calculateRem(357px);
        min-height: calculateRem(193px);
    }
}

.memories__item:nth-child(5),
.memories__item:nth-child(6) {
    img {
        max-width: calculateRem(172px);
        min-height: calculateRem(160px);
    }
}

.memories__button {
    @include regularButton($w: 210px, $h: 41px, $bg: $secundary-button);
    margin: calculateRem(32px) 0 calculateRem(76px);
}

@media screen and (min-width: $bp-tablet-landscape-max) {
    .memories {
        padding-bottom: calculateRem(106px);
    }
    .memories__header {
        img {
            width: calculateRem(55px);
        }
    }
    .memories__header-title {
        @include font-size(60px); 
    }
    .memories__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        grid-gap: calculateRem(16px);

        .memories__item {
            width: 45%;

            img {
                max-width: 100%;
                width: 100%;
                height: calculateRem(283px);
            }
        }
    }
}

@media screen and (min-width: calculateRem(1640px)) {
    .memories__item {
        max-width: calculateRem(536px);

        &:last-child,
        &:first-child {
            max-width: calculateRem(398px);
        }
    }
}