.header {
    display: flex;
}
  
  .headerLogo {
    // Estilos para el logo...
  }
  
  .headerLogoImage {
    // Estilos para la imagen del logo...
  }
  
  .headerNav {
    // Estilos para la navegación...
  }
  
  .headerNavList {
    // Estilos para la lista de navegación...
  }
  
  .headerNavItem {
    // Estilos para los elementos de la lista de navegación...
  }
  
  .header__about {
    // Estilos para la sección "Acerca de"...
  }
  
  .headerLabel {
    // Estilos para la etiqueta...
  }
  
  .headerImages {
    // Estilos para las imágenes...
  }
  
  .headerImag {
    // Estilos para cada imagen...
  }

  :export {
    header: header;
    headerLogo: headerLogo;
    headerLogoImage: headerLogoImage;
    headerNav: headerNav;
    headerNavList: headerNavList;
    headerNavItem: headerNavItem;
    headerAbout: headerAbout;
    headerLabel: headerLabel;
    headerImages: headerImages;
    headerImag: headerImag;
  }