@import "../../../../sass/imports";


.header {
    background-color: $main-header;
    max-height: calculateRem(91px);
    z-index: $button-scrolltop-zindex;
    position: fixed;
    top: 0;
}

.headerContainer {
    @include container-wrap();
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerLogo {}

.headerLogoImage {
    width: calculateRem(94px);
}

.headerButtonMob {
    background-color: transparent;
    border: none;
}

.headerLogoImage {}

.headerNav {
    // Estilos para la navegación...
}

.headerNavList {
    display: none;
}

.headerNavItem {
    // Estilos para los elementos de la lista de navegación...
}

.headerAbout {
    display: none;
}

.headerLabel {
    // Estilos para la etiqueta...
}

.headerImages {
    // Estilos para las imágenes...
}

.headerImag {
    // Estilos para cada imagen...
}

.menuMobile {
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: $c-brand-primary;
    width: 100%;
    height: 100vh;

    &.on {
        display: flex;
        top: 0;
        z-index: $page-loader-zindex;
    }

    &.off {
        top: -100vh;
        display: none;
    }

    header {
        width: 100%;
        height: calculateRem(65px);
        padding: 0 calculateRem(14px);
        display: flex;
        align-items: center;
        justify-content: flex-end
    }
}

.menuMobileList {
    @include container-wrap;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menuMobileItem {
    @include font-size($f-size-md-xl);
    margin: calculateRem(20px);

    a {
        text-decoration: none;
    }
}

.menuMobileLogo {

}

@media screen and (min-width: $bp-tablet-landscape-min) {
    .floatMenuNavegation {
        display: none;
    }
}

:export {
    header: header;
    headerContainer: headerContainer;
    headerLogo: headerLogo;
    headerLogoImage: headerLogoImage;
    headerMenuIcon: headerMenuIcon;
    headerButtonMob: headerButtonMob;
    headerNav: headerNav;
    headerNavList: headerNavList;
    headerNavItem: headerNavItem;
    headerAbout: headerAbout;
    headerLabel: headerLabel;
    headerImages: headerImages;
    headerImag: headerImag;

    menuMobile: menuMobile;
    menuMobileList: menuMobileList;
    menuMobileItem: menuMobileItem;
    menuMobileLogo: menuMobileLogo;
    on:on;
    off:off;
}