.footer {

}

// newmanBrand

.footer_newMan_rm {

}

.footer_newMan_img {

}

.footer_newMan_description {

}

// newsletter

.footer_newsLetter {

}

.footer_newsLetter_title {

}

.footer_newsLetter__form {

}

.footer_newsLetter_input {

}

.footer_newsLetter_submit {

}


:export {
    footer:footer;
    footer_newMan_rm: footerNewManRm; 
    footer_newMan_img: footerNewManImg;
    footer_newMan_description: footerNewManDescription;
    footer_newsLetter: footerNewsLetter;
    footer_newsLetter_title: footerNewsLetterTitle;
    footer_newsLetter__form: footerNewsLetterForm;
    footer_newsLetter_input: footerNewsLetterInput;
    footer_newsLetter_submit: footerNewsLetterSubmit
}