.footer {

}

// newmanBrand

.footerNewManRm {

}

.footerNewManImg {

}

.footerNewManDescription {

}

// newsletter

.footerNewsLetter {

}

.footerNewsLetterTitle {

}

.footerNewsLetterForm {

}

.footerNewsLetterInput {

}

.footerNewsLetterSubmit {

}

//contactMe

.footerContactMe {

}

.footerContactMeChanels {

}

.footerContactMeChanelsItem {

}

.footerContactMeChanelsImg {

}

.footerContactMeChanelsLabel {

}

.footerContactMeSocialMedia {

}

.footerContactMeSocialMediaItem {
    
}

.footerContactMeSocialMediaImg {
    
}

// copyright

.footerCopyRigth {

}

.footerCopyRigthTerms {
    
}

.footerCopyRigthPoweredBy {
    
}


:export {
    footer:footer;
    footerNewManRm: footerNewManRm; 
    footerNewManImg: footerNewManImg;
    footerNewManDescription: footerNewManDescription;
    footerNewsLetter: footerNewsLetter;
    footerNewsLetterTitle: footerNewsLetterTitle;
    footerNewsLetterForm: footerNewsLetterForm;
    footerNewsLetterInput: footerNewsLetterInput;
    footerNewsLetterSubmit: footerNewsLetterSubmit;
    footerContactMe: footerContactMe;
    footerContactMeChanels: footerContactMeChanels;
    footerContactMeChanelsItem: footerContactMeChanelsItem;
    footerContactMeChanelsImg: footerContactMeChanelsImg;
    footerContactMeChanelsLabel: footerContactMeChanelsLabel;
    footerContactMeSocialMedia: footerContactMeSocialMedia;
    footerContactMeSocialMediaItem: footerContactMeSocialMediaItem;
    footerContactMeSocialMediaImg: footerContactMeSocialMediaImg;
    footerCopyRigth: footerCopyRigth;
    footerCopyRigthTerms: footerCopyRigthTerms;
    footerCopyRigthPoweredBy: footerCopyRigthPoweredBy;   
}