.welcome {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
}

.welcome__play {
    display: none;
}

.join-us-v {
    display: inherit;
    justify-content: center;
}

.join-us__image-v {
    display: none;
}

.join-us__content-v {
    position: absolute;
    bottom: calculateRem(61px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $default-text1;
    border-radius: calculateRem(41px);
    width: calculateRem(222px);
    height: calculateRem(62px);
}

.join-us__logo-v {
    display: inherit;
    align-items: center;
    justify-content: center;
    width: calculateRem(62px);
    height: calculateRem(62px);
    background-color: $secundary-button;
    border-radius: 100vh;

    img {
        width: calculateRem(40px);
    }
}

.join-us__text-v {
    @include font-size($f-size-md-xl);
    font-family: $f-body;
    font-weight: $f-weight-bold;
    color: $forms-color;
    text-transform: uppercase;
    width: 59%;
}

.welcome__bg-mb {
    width: 100%;
    height: 100%;
    background-image: url("../../../../../public/assets/utils/videoLoaderMob.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.welcome__bg-sk {
    width: 100%;
    height: 100%;
    background-image: url("../../../../../public/assets/utils/videoLoaderDsk.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}