.welcome {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
    max-height: calculateRem(768px);
}
.welcome__video {
    height: 100%;
    object-fit: cover;
}
.welcome__play {
    display: none;
}

.join-us-v {
    display: inherit;
    justify-content: center;
}

.join-us__image-v {
    display: none;
}

.join-us__content-v {
    position: absolute;
    bottom: calculateRem(61px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $default-text1;
    border: none;
    border-radius: calculateRem(41px);
    width: calculateRem(222px);
    height: calculateRem(62px);
}

.join-us__logo-v {
    display: inherit;
    align-items: center;
    justify-content: center;
    width: calculateRem(62px);
    height: calculateRem(62px);
    background-color: $secundary-button;
    border-radius: 100vh;
    background-image: url("../../../../../public/assets/utils/join-button.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -2px;

    &.on {
        background-color: $c-brand-secundary;
        background-image: none;
    }

    .join-us__img-v {
        background-color: $secundary-button;
        border-radius: calculateRem(15px);

        &.on {
            background: transparent;

            &:hover {
                transform: none;
                animation: none;
                opacity: 1;
            }
        }
    }

    &:hover .join-us__img-v {
        transform: scale(2);
        opacity: 0;
        animation: zoomOut 1s forwards;
    }

    &:not(:hover) .join-us__img-v {
        transform: scale(1);
        opacity: 1;
    }

    @keyframes zoomOut {
        from {
            transform: scale(1);
            opacity: 1;
        }

        to {
            background-color: transparent;
            transform: scale(2);
            opacity: 0;
        }
    }
}

.join-us__text-v {
    @include font-size($f-size-md-xl);
    font-family: $f-body;
    font-weight: $f-weight-bold;
    color: $forms-color;
    text-transform: uppercase;
    width: 72%;
    padding-left: calculateRem(15px);
    text-align: left;
}
.welcome__bg-sk,
.welcome__bg-mb {
    width: 100%;
    object-fit: cover;
    background-color: #f5f5f5;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.welcome__bg-mb {
    background-image: url("../../../../../public/assets/utils/videoLoaderMob.jpg");
}

.welcome__bg-sk {
    background-image: url("../../../../../public/assets/utils/videoLoaderDsk.jpg");
}

.welcome__bg-sk::before,
.welcome__bg-mb::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0));
    opacity: 0.8;
    animation: colorChange 1.9s ease-in-out infinite;
}

@keyframes colorChange {
    0% {
        background-color: rgba(0, 0, 0, 0.5);
    }

    50% {
        background-color: rgba(255, 255, 255, 0.5);
    }

    100% {
        background-color: rgba(0, 0, 0, 0.5);
    }
}
@media screen and (min-width: calculateRem($bp-tablet-landscape-max)) {
    .welcome {  
        max-height: 100vh;
    }
    .join-us__content-v {
        right: calculateRem(139px);
    }
    .welcome__play  {
        position: absolute;
        display: block;
        bottom: calculateRem(57px);
        right: 50%;
        background: transparent;
        border: none;
    }
    .join-us__image-v {
        display: block;
        position: absolute;
        bottom: 144px;
        right: 139px;
        background: $c-brand-secundary;
        width: 98px;
        height: 98px;
        border-radius: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            margin-top: calculateRem(5px);
        }
    }
}