.welcome {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    max-height: calculateRem(761px);
}

.welcome__play {
    display: none;
}

.join-us-v {
    display: inherit;
    justify-content: center;
}

.join-us__image-v {
    display: none;
}

.join-us__content-v {
    position: absolute;
    bottom: calculateRem(61px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $default-text1;
    border: none;
    border-radius: calculateRem(41px);
    width: calculateRem(222px);
    height: calculateRem(62px);
}

.join-us__logo-v {
    display: inherit;
    align-items: center;
    justify-content: center;
    width: calculateRem(62px);
    height: calculateRem(62px);
    background-color: $secundary-button;
    border-radius: 100vh;
    background-image: url("../../../../../public/assets/utils/join-button.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -2px;

    &.on {
        background-color: $c-brand-secundary;
        background-image: none;
    }

    .join-us__img-v {
        background-color: $secundary-button;
        border-radius: calculateRem(15px);
        &.on {
            background: transparent;
            &:hover {
                transform: none;
                animation: none;
                opacity: 1;
            }
        }
    }

    &:hover .join-us__img-v {
        transform: scale(2);
        opacity: 0;
        animation: zoomOut 1s forwards;
    }

    &:not(:hover) .join-us__img-v {
        transform: scale(1);
        opacity: 1;
    }

    @keyframes zoomOut {
        from {
            transform: scale(1);
            opacity: 1;
        }

        to {
            background-color: transparent;
            transform: scale(2);
            opacity: 0;
        }
    }
}

.join-us__text-v {
    @include font-size($f-size-md-xl);
    font-family: $f-body;
    font-weight: $f-weight-bold;
    color: $forms-color;
    text-transform: uppercase;
    width: 72%;
    padding-left: calculateRem(15px);
    text-align: left;
}

.welcome__bg-mb {
    width: 100%;
    height: calculateRem(768px);
    background-image: url("../../../../../public/assets/utils/videoLoaderMob.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.welcome__bg-sk {
    width: 100%;
    height: 100%;
    background-image: url("../../../../../public/assets/utils/videoLoaderDsk.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}