.the-crew {
    @include container-wrap();
    padding-top: calculateRem(75px);
    padding-bottom: calculateRem(97px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.the-crew__intro {
    border-left: 3px solid $c-brand-secundary;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: calculateRem(20px);
    color: $input-color2;
    order: 1;
    margin-bottom: calculateRem(12px);
}

.the-crew__title {
    width: 100%;
    @include font-size(57px);
    color: $c-brand-primary;
    font-weight: $f-weight-normal;
    text-align: left;

    &::after {
        content: 'crew.';
        color: $c-brand-secundary;
        font-weight: $f-weight-bold;
        margin-left: calculateRem(17px);
    }
}

.the-crew__photo {
    order: 3
}

.the-crew__photo-pic {
    width: calculateRem(351px);
    height: calculateRem(328px);
    border-radius: calculateRem(25px);
    object-fit: cover;
}

.the-crew__pic-container {
    display: none
}

.the-crew__description {
    @include font-size($f-size-sm);
    margin-right: 13%;
    margin-bottom: calculateRem(20px);
    line-height: 1.3;
}

.the-crew__cta {
    @include regularButton($w: 210px, $h: 41px);
    text-align: center;
    margin-top: calculateRem(16px);
    margin-left: calculateRem(-19px);
}

.group-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: calculateRem(260px);
    width: 100%;
    max-width: calculateRem(315px);
    margin: calculateRem(18px) 0;
    order: 2;
}

.group-options-container {
    max-width: calculateRem(315px);
    width: 100%;
    background-color: $c-groupotions-bg;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: calculateRem(21px);
    box-shadow: $border-regular;
}

.group-options-crew {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: calculateRem(20px) 0;
    border-bottom: 1.5px solid $c-brand-primary;
    width: 100%;
    max-width: calculateRem(180px);

    &:last-child {
        border: none;
    }
}

.group-options-crew__title {
    @include font-size(63px);
    font-family: $f-body;
    font-weight: $f-weight-bold;
    color: $c-brand-secundary;
}

.group-options-crew__description {
    text-align: center;
    color: $c-brand-primary;
}

@media screen and (min-width: $bp-tablet-landscape-min) {
    .the-crew__intro {
        background-color: $c-joinus-banner-bg;
        box-shadow: $border-regular;
        padding: calculateRem(46px);
        border-radius: calculateRem(46px);
    }

    .group-options {
        max-width: calculateRem(812px);
    }

    .group-options-container {
        max-width: 100%;
        flex-direction: row;
        justify-content: space-around;
    }

    .group-options-crew {
        min-height: 252px;
        justify-content: space-evenly;
        border: none;
    }
}

@media screen and (min-width: calculateRem(1080px)) {
    .the-crew {
        position: relative;
    }
    .the-crew__title {
        @include font-size(107px);
    }
    .the-crew__intro {
        width: 100%;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
    }

    .the-crew__intro-header {
        width: 50%;
    }

    .the-crew__pic-container {
        display: block;
        margin-left: auto;
    }

    .the-crew__pic {
        width: calculateRem(351px);
        height: calculateRem(328px);
        border-radius: calculateRem(25px);
        object-fit: cover;
        cursor: pointer;
    }

    .the-crew__cta {
        margin-left: 10%;
    }


    .the-crew__photo {
        display: none;
    }
}

@media screen and (min-width: calculateRem(1248px)) {
    .the-crew__pic {
        width: calculateRem(526px);
        height: calculateRem(492px);
    }
}


@media screen and (min-width: calculateRem(1640px)) {
    .the-crew__intro {
        align-items: flex-start;
    }
    .the-crew__title {
        margin: calculateRem(45px) 0 calculateRem(24px);
    }
    .the-crew__description {
        @include font-size($f-size);
    }
    .the-crew__cta {
        margin-top: calculateRem(-180px);
    }
    .the-crew__pic {
        width: calculateRem(718px);
        height:calculateRem(592px);
    }
    .group-options {
        margin-top: calculateRem(-181px);
    }
    .the-crew__cta {
        margin-left: 15%;
        margin-top: calculateRem(-213px);
    }
}
