.whatsNews {
    @include container-wrap();
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, #215888, #27B7AF);
    clip-path: ellipse(185% 50% at 50% 50%);
    padding-top: calculateRem(20px);
    color: $default-text1;
}

.whatsNews__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: calculateRem(90px);
}

.whatsNews__header-title {
    @include font-size(42px);
    color: $c-brand-secundary;
    font-weight: $f-weight-light;

    &::after {
        content: "new";
        color: $default-text1;
        font-weight: $f-weight-bold;
        margin-left: calculateRem(15px);
    }
}

.whatsNews__header-description {
    margin: calculateRem(28px) calculateRem(20px) calculateRem(34px);
    text-align: center;
    line-height: 1.4;
}

.whatsNews__list {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.whatsNews__item {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    margin-bottom: calculateRem(20px);
    position: relative;
    align-items: center;
    max-width: calculateRem(354px);
    width: 100%;
    &::after {
        content: "";
        background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, transparent 100%);
        background-size: cover;
        border-radius: calculateRem(30px);
        z-index: 1;
        position: absolute;
        width: 100%;
        height: 100%;
        max-width: calculateRem(354px);
        top: 0;
    }

}

.card__news-date {
    position: absolute;
    width: calculateRem(98px);
    height: calculateRem(175px);
    background-color: $c-brand-secundary;
    border-radius: 0 0 calculateRem(12px) calculateRem(12px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-family: $font-name-tercery;
    margin-right: 57%;
    z-index: 2;
}

.card__news-day {
    @include font-size($f-size-xxlg);
    font-weight: $f-weight-bold;
}

.card__news-gtm {
    @include font-size($f-size-lg);
    display: flex;
    flex-direction: column;
    margin-bottom: calculateRem(24px);

}

.card-pic {
    max-width: calculateRem(354px);
    min-width: calculateRem(200px);
    width: 100%;
    height: calculateRem(338px);
    border-radius: calculateRem(30px);
    box-shadow: $border-regular;
    object-fit: cover;
}

.card__news-blog {
    position: absolute;
    bottom: 38px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

.card__news-author {
    @include font-size($f-size-sm);
}

.card__news-title {
    @include font-size($f-size-lg);
    font-family: $f-button;
    font-weight: $f-weight-bold;
    width: calculateRem(200px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    text-align: center;
}

.card__news-description {
    display: none;
}

.card__news-button {
    display: none;
}

.whatsNews__footer-button {
    @include regularButton($w: 210px, $h: 41px);
    margin-top: calculateRem(15px);
    margin-bottom: calculateRem(90px);
}